In [310]:
#***************************************************************************/
#                                                                           /
#                                                        :::      ::::::::  /
#   prova.c                                            :+:      :+:    :+:  /
#                                                    +:+ +:+         +:+    /
#   By: mmarinel <mmarinel@student.42.fr>          +#+  +:+       +#+       /
#                                                +#+#+#+#+#+   +#+          /
#   Created: 2022/05/24 17:52:40 by mmarinel          #+#    #+#            /
#   Updated: 2022/05/24 17:52:40 by mmarinel         ###   ########.fr      /
#                                                                           /
#***************************************************************************/

import numpy as np
import matplotlib.pyplot as plt


######################################## E01 ###################################
MIN_ROWS_E01 = 2
MAX_ROWS_E01 = 5

MIN_COLS_E01 = 2
MAX_COLS_E01 = 5

### Initializing random sizes
a_E01 = np.ones(
    (
        np.random.randint(MIN_ROWS_E01, MAX_ROWS_E01),
        np.random.randint(MIN_COLS_E01, MAX_COLS_E01)
    )
)

### getting random elements following Binomial distribution
b_E01 = np.matrix(list(map(
                  lambda row: list(map(lambda _: np.random.binomial(15, 0.5), row)),
                  a_E01
               ))
)

b_E01

######################################## E02 ###################################


a_E02 = np.arange(1, 13, 1)

a_E02.shape = (4, 3)
a_E02

######################################## E03 ###################################

def create_1_n_array(n):
    return (np.array
            (
                np.matrix(
                    np.linspace(0, 1, n)
                    )
                )
            )

a_E03 = create_1_n_array(5)

a_E03.shape

######################################## E04 ###################################

a_E04 = np.empty(
    (
        10,
        12
    )
)

b_E04 = np.array(list(map(
                  lambda row: list(map(lambda _: np.random.binomial(4, 0.5), row)),
                  a_E04
               )))

b_E04[0:4, 8:12]

######################################## E05 ###################################

array([[3, 2, 2, 2],
       [2, 3, 2, 0],
       [2, 2, 1, 1],
       [2, 2, 3, 2]])

In [ ]:
import numpy as np

##  E01
np.zeros(10)

##  E02
np.ones(10)

##  E03
np.arange(11, 49, 2)

##  E04
np.identity(3)

##  E05
np.random.rand()

##  E06
np.linspace(0, 1, 10)  # errorino nell'ultima cifra significativa

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])